{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <div class="menu-container" id="menu-container"
         data-day-image="{% static 'img/playa_dia_menu.jpg' %}"
         data-afternoon-image="{% static 'img/playa_tarde_menu.jpg' %}"
         data-night-image="{% static 'img/playa_noche_menu.jpg' %}">
        <p class="main-title">Maratón - The Anti-Cheat Game</p>
        <div class="button-container">
            <button id="button_play">Jugar</button>
            <button id="button_settings">Configuración</button>
            <button onclick="window.close()" id="button_exit">Salir</button>
        </div>
    </div>

    <script src="{% static 'js/bg_hour_menu.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
