{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modo de Juego</title>
    <link rel="stylesheet" href="{% static 'css/mode.css' %}">
</head>
<body>
    <div class="split-screen" id="split-screen">
        <!-- Sección izquierda -->
        <div class="left-section" id="left-section">
            <a class="button-large" id="button_marathon">Maratón</a>
        </div>

        <!-- Sección derecha -->
        <div class="right-section" id="right-section">
            <a class="button-large" id="button_learn">Aprende</a>
        </div>
    </div>

    <script src="{% static 'js/mode.js' %}"></script>
</body>
</html>